        *{
            background-color: rgb(245,246,247);         /*전체 배경화면 색상*/
        }
        .container{                                        /*중앙 정렬을 위한 컨테이너 박스*/
            width: 500px;
            margin: 50px auto ; 
        }
        .header{
            font-size: 50px;                                /* 맨 위에오는 NAVER 로고*/
            text-align: center;
            font-weight: 700;
            color: rgb(3,199,90);
            
        }
        .container footer{
            font-size: 14px;
            text-align: center;
            margin-top: 20px;
            opacity: 0.4;
        }
        .auth{
            display: inline;                            /*인증번호 받기*/
        }
        .auth button{
            color: white;
            background-color: rgb(3,199,90);            /*인증번호 받기버튼*/
            width: 100px;
            height: 50px;
            margin-left: 5px;
            font-size: 14px;
            font-weight: bolder; 
            /* padding: 5px; */
            border: 0 ;
            outline: 0;
        }
        .birth input[class=day], select[class=day]{
            display: inline;
            width: 30%;
            padding-left: 7px;
        }
        .tel > input:nth-of-type(1){
            width: 464px;
        }
        a{
            text-decoration: none;
            color:rgb(3,199,90);
            font-weight: bolder;
        }
        label{
            font-weight: bold;
            font-size: 14px;
        }
        input{            
            width: 470px;
            height: 50px;
            font-size: 15px;
            margin-top: 10px;
            margin-bottom: 20px;
            box-shadow: none;
            border-style: solid;
            border-color: rgb(218,218,218);
            background-color: rgb(256,256,256);
            border-width: 1px;
            padding-left: 10px;
        }
        select{
            width: 480px;
            height: 55px;
            font-size: 15px;
            margin-top:1 0px;
            margin-bottom: 20px;
            border-color: rgb(218,218,218);
            background-color: rgb(256,256,256);
            border-width: 1px;
            padding: 0 10px;
            padding-right: 10px;

        }
        .passwd input[id=pw]{
            background-image: url(./image/lock.png);
            background-repeat: no-repeat;
            background-size : 24px;
            background-position: right;
            background-position-x: 445px;
        }
        .passwd input[id=pw_check]{
            background-image: url(./image/confirm.png);
            background-repeat: no-repeat;
            background-size : 24px;
            background-position: right;
            background-position-x: 445px;
        }
        input#id::placeholder{
            text-align: right;
            margin-right: 10px;

        }
        input[type=submit]{
            font-size: 20px;
            background-color: rgb(3,199,90);
            color: white;
            border:0;
            outline:0;
            height: 55px;
        }
        span{
            font-size: 12px;
            opacity: 0.5;
        }
        
        input:focus{
            border-color:rgb(3,199,90);
            outline: none;
            
        }
        select:focus{
            border-color:rgb(3,199,90);
            outline:none;
        }

        #phone{
            margin-bottom: 0.05em;
        }