*{
            background-color: rgb(245,246,247);
        }
        .container{
            width: 500px;
            margin: 50px auto ; 
        }
        .header{
            font-size: 60px;
            text-align: center;
            color: rgb(3,199,90);
        }
        .day{
            width: 30%;
            padding-right: 7px;

        }
        button{
            border: 0;
            outline: 0;
        }
        label{
            font-weight: bold;
        }
        input{            
            width: 500px;
            height: 40px;
            font-size: 15px;
            margin-top: 10px;
            margin-bottom: 20px;
            box-shadow: none;
            border-style: solid;
            border-color: rgb(218,218,218);
            background-color: rgb(256,256,256);
            border-width: 1px;
            padding-left: 5px;
        }
        select{
            width: 500px;
            height: 45px;
            font-size: 15px;
            margin-top:1 0px;
            margin-bottom: 20px;
            border-color: rgb(218,218,218);
            background-color: rgb(256,256,256);
            border-width: 1px;
        }
        button{
            color: white;
            background-color: rgb(3,199,90);
            width: 110px;
            height: 50px;
        }
        input#id::placeholder{
            text-align: right;

        }
        input[type="submit"]{
            font-size: 20px;
            background-color: rgb(3,199,90);
            color: white;
            border:0;
            outline:0;
            height: 60px;
        }
        span{
            font-size: 12px;
            opacity: 0.5;
        }
        .container footer{
            font-size: 14px;
            text-align: center;
            margin-top: 20px;
            opacity: 0.4;
        }
        input:focus{
            border-color:rgb(3,199,90);
            outline: none;
            
        }
        select:focus{
            border-color:rgb(3,199,90);
            outline:none;
        }
        #phone{
            margin-bottom: 5px;
        }